<div class="content-box">
               <div class="row">
                <div class="col-6 col-sm-4 col-xxl-2">
                        <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                          <div class="label">
                           Egresos
                          </div>
                          <div class="value text-danger">
                            -$743
                          </div>
                          <div class="trending trending-down">
                            <span>12%</span><i class="os-icon os-icon-arrow-down6"></i>
                          </div>
                        </a>
                      </div>
                      <div class="col-6 col-sm-4 col-xxl-2">
                        <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                          <div class="label">
                            Ingresos
                          </div>
                          <div class="value">
                            $1395
                          </div>
                          <div class="trending trending-up">
                            <span>12%</span><i class="os-icon os-icon-arrow-up6"></i>
                          </div>
                        </a>
                      </div>
                      <div class="col-sm-4 col-xxxl-12">
                              <a class="element-box el-tablo" href="#">
                                <div class="label">
                                  Balance
                                  <span class="text-success">9%</span><i class="os-icon os-icon-arrow-up2"></i>                                
                                  </div>
                                 <div class="value text-primary">
                                  652 $
                                </div>
                               
                              </a>
                      </div>  
                <div class="col-sm-8 col-xxxl-6">
                  <div class="element-wrapper">
                    
                    <h6 class="element-header">
                      Historico de movimientos
                    </h6>

                     <div class="element-box" >

                        <div class="os-tabs-w">
                          <div class="os-tabs-controls">
                            <ul class="nav nav-tabs smaller">
                              <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tab_overview">Egresos</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab_sales">Ingresos</a>
                              </li>
                            </ul>
                            <ul class="nav nav-pills smaller d-none d-md-flex">
                             <!--  <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#">Hoy</a>
                              </li> -->
                              <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#">7 dias</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#">14 dias</a>
                              </li>
                            <!--   <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#">Ult. mes</a>
                              </li> -->
                              <li class="nav-item">
                                 <a href="#"><i class="os-icon os-icon-calendar"></i><span></span></a>
                              </li>
                            </ul>
                          </div>
                           <a class="element-box el-tablo centered trend-in-corner smaller" href="transacciones.html">
                          <div class="tab-content">
                            <div class="tab-pane active" id="tab_overview">
                              <div class="el-tablo bigger  text-danger">
                                <div class="label">
                                  egresos
                                </div>
                                <div class="value">
                                  743 $
                                </div>
                              </div>
                              <div class="el-chart-w">
                                <canvas height="150px" id="lineChart" width="600px"></canvas>
                              </div>
                            </div>
                             <div class="tab-pane" id="tab_sales">
                                <div class="el-tablo bigger text-success">
                                  <div class="label">
                                    Ingresos
                                  </div>
                                  <div class="value">
                                    1395 $
                                  </div>
                                </div>
                                <div class="el-chart-w">
                                  <canvas height="150px" id="liteLineChartV2" width="600px"></canvas>
                                </div>
                              </div>
                            <div class="tab-pane" id="tab_conversion"></div>
                          </div>
                        </a>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 d-xxxl-none">
                  <!--START - Top Selling Chart-->
                  <div class="element-wrapper">
                    <h6 class="element-header">
                      Volúmen de ventas por producto
                    </h6>
                    <div class="element-box">
                      <div class="el-chart-w">
                        <canvas height="120" id="donutChart" width="120"></canvas>
                        <div class="inside-donut-chart-label">
                          <strong>142</strong><span>Egresos</span>
                        </div>
                      </div>
                      <div class="el-legend condensed">
                        <div class="row">
                          <div class="col-auto col-xxxxl-6 ml-sm-auto mr-sm-auto col-6">
                            <div class="legend-value-w">
                              <div class="legend-pin legend-pin-squared" style="background-color: #6896f9;"></div>
                              <div class="legend-value">
                                <span>Prada</span>
                                <div class="legend-sub-value">
                                  14 Pairs
                                </div>
                              </div>
                            </div>
                            <div class="legend-value-w">
                              <div class="legend-pin legend-pin-squared" style="background-color: #85c751;"></div>
                              <div class="legend-value">
                                <span>Maui Jim</span>
                                <div class="legend-sub-value">
                                  26 Pairs
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-6 d-lg-none d-xxl-block">
                            <div class="legend-value-w">
                              <div class="legend-pin legend-pin-squared" style="background-color: #806ef9;"></div>
                              <div class="legend-value">
                                <span>Gucci</span>
                                <div class="legend-sub-value">
                                  17 Pairs
                                </div>
                              </div>
                            </div>
                            <div class="legend-value-w">
                              <div class="legend-pin legend-pin-squared" style="background-color: #d97b70;"></div>
                              <div class="legend-value">
                                <span>Armani</span>
                                <div class="legend-sub-value">
                                  12 Pairs
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                     

                  </div>


                  <!--END - Top Selling Chart-->
                </div>
             
              <div class="col-sm-12 d-xxxl-none">
                  <div class="element-wrapper">
                    <div class="element-content">
                      <div class="element-wrapper compact pt-4">
                          <div class="element-actions">
                            <form class="form-inline justify-content-sm-end">
                              <label class="smaller" for="">Mostrar:</label>
                              <select class="form-control form-control-sm form-control-faded" (click)="setType()" [(ngModel)]="transactionType"  [ngModelOptions]="{standalone: true}">
                                <option  value="all">
                                  Todo
                                </option>
                                <option value="entry">
                                  Ingresos 
                                </option>
                                <option value="egress">
                                  Egresos
                                </option>
                              </select>
                            </form>
                          </div>
                          <h6 class="element-header">
                            Movimientos
                          </h6>
                          <div class="element-box-tp">
                            <table class="table table-clean">
                              <tr *ngFor="let transaction of transactions" [hidden]="egress && !all">
                                <td >
                                  <div class="value">
                                    <span *ngFor="let item of transaction.car">
                                      <div  *ngFor="let tix of tixs">
                                        <div [hidden]="item.idTix!=tix.id">  
                                       {{item.quantity}} x {{tix.name}}
                                        </div>  
                                      </div>  
                                    </span> 
                                  </div>
                                  <span class="sub-value">{{transaction.type}}</span>
                                </td>
                                <td class="text-right">
                                  <div class="value text-success" >
                                  {{transaction.currency}}  {{transaction.amount}}
                                  </div>
                                  <span class="sub-value">12 Feb 2018</span>
                                </td>
                              </tr>
                            
                            </table>
                            <a class="centered-load-more-link" href="#"><span>Ver más</span></a>
                          </div>
                        </div>
                    
                     
                    </div>
                  </div>
                </div>
              </div>           
              <!-------------------- START - Chat Popup Box------------------->
              <div class="floated-chat-btn">
                <i class="os-icon os-icon-mail-07"></i><span>Contacta al desarrollador</span>
              </div>
              <div class="floated-chat-w">
                <div class="floated-chat-i">
                  <div class="chat-close">
                    <i class="os-icon os-icon-close"></i>
                  </div>
                  <div class="chat-head">
                    <div class="user-w with-status status-green">
                      <div class="user-avatar-w">
                        <div class="user-avatar">
                          <img alt="" src="assets/assetsbusak/img/avatar1.jpg">
                        </div>
                      </div>
                      <div class="user-name">
                        <h6 class="user-title">
                          John Mayers
                        </h6>
                        <div class="user-role">
                          Account Manager
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="chat-messages">
                    <div class="message">
                      <div class="message-content">
                        Hi, how can I help you?
                      </div>
                    </div>
                    <div class="date-break">
                      Mon 10:20am
                    </div>
                    <div class="message">
                      <div class="message-content">
                        Hi, my name is Mike, I will be happy to assist you
                      </div>
                    </div>
                    <div class="message self">
                      <div class="message-content">
                        Hi, I tried ordering this product and it keeps showing me error code.
                      </div>
                    </div>
                  </div>
                  <div class="chat-controls">
                    <input class="message-input" placeholder="Type your message here..." type="text">
                    <div class="chat-extra">
                      <a href="#"><span class="extra-tooltip">Attach Document</span><i class="os-icon os-icon-documents-07"></i></a><a href="#"><span class="extra-tooltip">Insert Photo</span><i class="os-icon os-icon-others-29"></i></a><a href="#"><span class="extra-tooltip">Upload Video</span><i class="os-icon os-icon-ui-51"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <!--------------------END - Chat Popup Box-------------------->
            </div>