
                <div aria-hidden="true" class="onboarding-modal modal fade animated" id="modalegreso" role="dialog" tabindex="-1">
                  <div class="modal-dialog modal-lg modal-centered" role="document">
                    <div class="modal-content text-center">
                      <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="close-label">Cancelar</span><span class="os-icon os-icon-close"></span></button>
                      <div class="onboarding-side-by-side">
                        <div class="onboarding-media">
                          <img alt="" src="assets/assetsbusak/img/bigiconpiggyegreso.png"style="width: 80px;">
                        </div>
                        <div class="onboarding-content with-gradient" >
                          <h4 class="onboarding-title">
                            Nuevo egreso
                          </h4>
            <!--               <div class="onboarding-text">
                            Indique el monto y la categoria a la cual desea asociar el egreso.
                          </div> -->
                          <form>
                            <div class="row">
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label for="">Monto </label><input class="form-control" placeholder="$USD" type="number" value="">
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <app-currencyselector>
                                </app-currencyselector>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="">Tipo de egreso</label><select class="form-control">
                                    <option *ngFor="let category of categories">
                                      {{category.name}}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>