 <!-------------------- START - Mobile Menu -------------------->
        <div class="menu-mobile menu-activated-on-click color-scheme-dark">
          <div class="mm-logo-buttons-w">
            <a class="mm-logo" href="#"><img src="assets/assetsbusak/img/logo.png"><span style="padding-top: 15px;"> <h3 class="text-white">Busak</h3></span></a>
            <div class="mm-buttons">
              <div class="content-panel-open">
                <div class="os-icon os-icon-grid-circles"></div>
              </div>
              <div class="mobile-menu-trigger">
                <div class="os-icon os-icon-hamburger-menu-1"></div>
              </div>
            </div>
          </div>
          <div class="menu-and-user">
            <div class="logged-user-w">
              <div class="avatar-w">
                <img alt="" src=" assets/assetsbusak/img/avatar1.jpg">
              </div>
              <div class="logged-user-info-w">
                <div class="logged-user-name">
                  Maria Gomez
                </div>
                <div class="logged-user-role">
                  Administrator
                </div>
              </div>
            </div>
            <div class="mobile-menu-magic">
              <h4>
               Estas usando la version PRO de Busak
              </h4>
              <p>
                Emprendedor & PYMES
              </p>
              <div class="btn-w">
                <a class="btn btn-white btn-rounded" href="#" target="_blank">Actualizar ahora</a>
              </div>
            </div>
          </div>
        </div>
        <!-------------------- END - Mobile Menu -------------------->