<!-------------------- START - Sidebar --------------------> 
            <div class="content-panel compact color-scheme-light">
              <div class="content-panel-close">
                <i class="os-icon os-icon-close"></i>
              </div>
              <div class="element-wrapper">
                <div class="element-actions actions-only">
                  <a class="element-action element-action-fold" href="#"><i class="os-icon os-icon-minus-circle"></i></a>
                </div>
                <h6 class="element-header">
                  Conversor de unidades
                </h6>
                <div class="element-box-tp">
                  <form action="">
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label for="">De</label><select class="form-control">
                            <option>
                              BsS
                            </option>
                            <option>
                              USD
                            </option>
                           
                          
                          </select>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="">A</label><select class="form-control">
                           <option>
                              USD
                            </option>
                            <option>
                              BsS
                            </option> 

                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label for="">Monto</label>
                          <div class="input-group">
                            <input class="form-control" placeholder="Amount..." type="text" value="122340">
                            <div class="input-group-append">
                              <div class="input-group-text">
                                BsS
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="">Precio por USD</label>
                          <div class="input-group">
                            <input class="form-control" type="text" value="22500">
                            <div class="input-group-append">
                              <div class="input-group-text">
                                BsS
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-block btn-lg"><i class="os-icon os-icon-refresh-ccw"></i><span>Convertir</span></button>
                  </form>
                </div>
              </div>
              <div class="element-wrapper compact">
                <div class="element-actions actions-only">
                  <a class="element-action element-action-fold" href="#"><i class="os-icon os-icon-minus-circle"></i></a>

                </div>

                <h6 class="element-header">
                  Valores de referencia
                </h6>

                <div class="element-box-tp">
                   <button class="btn btn-outline-success btn-block btn-lg"><i class="os-icon os-icon-refresh-ccw"></i><span>Actualizar</span></button>
                  <table class="table table-compact smaller text-faded mb-0">
                    <thead>
                      <tr>
                        <th>
                          Ref.
                        </th>
                        <th class="text-center">
                          Fecha
                        </th>
                        <th class="text-right">
                          Precio
                        </th>
                        <th class="text-right">
                          var.
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                         <a class="post-link" href="#">
                          <h6>
                          <span class="text-bright">@dolartoday</span></h6></a>
                        </td>
                        <td class="text-center">
                          01.08
                        </td>
                        <td class="text-right text-bright">
                          $25.38
                        </td>
                        <td class="text-right text-danger">
                          -$1.23
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <a class="post-link" href="#">
                          <h6>
                          <span class="text-bright">@mkcambios</span></h6></a>
                        </td>
                        <td class="text-center">
                          01.07
                        </td>
                        <td class="text-right text-bright">
                          $15.21
                        </td>
                        <td class="text-right text-danger">
                          -$1.13
                        </td>
                      </tr>
                      <tr>
                        <td>
                         <a class="post-link" href="#">
                          <h6>
                          <span class="text-bright">@bolivarcucuta</span></h6></a>
                        </td>
                        <td class="text-center">
                          01.05
                        </td>
                        <td class="text-right text-bright">
                          $17.43
                        </td>
                        <td class="text-right text-danger">
                          -$2.14
                        </td>
                      </tr>
                      <tr>
                        <td>
                           <a class="post-link" href="#">
                          <h6>
                          <span class="text-bright">@dolarbitcoin</span></h6></a>
                        </td>
                        <td class="text-center">
                          01.05
                        </td>
                        <td class="text-right text-bright">
                          $23.18
                        </td>
                        <td class="text-right text-danger">
                          -$3.17
                        </td>
                      </tr>
              
                    </tbody>
                  </table>
              
                </div>
              </div>
            </div>
            <!-------------------- END - Sidebar -------------------->