<div class="top-icon top-settings os-dropdown-trigger os-dropdown-position-right " style="margin: 0px 0rem 0px 1rem;">
                <span class="text-primary">USD</span> 
                <div class="os-dropdown">
                 
                  <ul>
                    <li>
                      <a href="#"><span>USD</span></a>
                    </li>
                    <li>
                      <a href="#"><span>BsS.</span></a>
                    </li>
                   
                  </ul>
                </div>
              </div>