<div class="top-bar color-scheme-transparent">
            <!--------------------START - Top Menu Controls -------------------->
            <div class="top-menu-controls">
              <!-- <div class="element-search autosuggest-search-activator">
                <input placeholder="Busqueda..." type="text">
              </div> -->
               <div class="floated-colors-btn second-floated-btn">
                <div class="os-toggler-w">
                  <div class="os-toggler-i">
                    <div class="os-toggler-pill"></div>
                  </div>
                </div>

                <span>Dark </span><span></span>
              </div>
            
               
                


              <div class="top-icon top-settings os-dropdown-trigger os-dropdown-position-right " style="margin: 0px 0rem 0px 1rem;">
                <span class="text-primary">USD</span> 
                <div class="os-dropdown">
                 
                  <ul>
                    <li>
                      <a href="#"><span>USD</span></a>
                    </li>
                    <li>
                      <a href="#"><span>BsS.</span></a>
                    </li>
                   
                  </ul>
                </div>
              </div>
              <div class="messages-notifications os-dropdown-trigger os-dropdown-position-left text-primary">
                <i class="os-icon os-icon-pie-chart-2"></i>
               
              </div>

              <div class="messages-notifications os-dropdown-trigger os-dropdown-position-left text-danger" >
                <i class="os-icon os-icon-coins-4" data-target="#modalegreso" data-toggle="modal"></i>
               
              </div>
              <div class="messages-notifications os-dropdown-trigger os-dropdown-position-left  text-success">
                <i class="os-icon os-icon-coins-4" data-target="#modalingreso" data-toggle="modal"></i>
               
              </div>
             
            </div>
            <!--------------------END - Top Menu Controls-------------------->
          </div>
         
          <div class="content-panel-toggler">
            <i class="os-icon os-icon-grid-squares-22"></i><span>Sidebar</span>
          </div>